# Useful paths
export PATH_TO_PROJECT="$HOME/development/work"
export PATH_TO_PLAYGROUND="$HOME/development/playground"
export JAVA_HOME=$(/usr/libexec/java_home)
export M2_HOME=/usr/local/Cellar/maven/3.6.1/libexec
export RVM_HOME=$HOME/.rvm                        # Add RVM to PATH for scripting
export PATH=$PATH:$JAVA_HOME/bin:$M2_HOME/bin:$RVM_HOME/bin

# Maven 
export MAVEN_OPTS="-Xmx1024m"


# Customize prompt to show only the working directory
# export PS1='[\W]\$ '
# export CLICOLOR=1

# export LSCOLORS=GxFxCxDxBxegedabagaced
[ -f ".exports.local" ] && source ".exports.local"
