# User specific aliases
alias home='cd ~' 

if [ -n "$ZSH_VERSION" ]; then
	alias reload='source .zshrc'
elif [ -n "$BASH_VERSION" ]; then
	alias reload='source .bash_profile'
fi

# Editor
alias vi='nvim'
alias vim='nvim'

# Command line oldies
alias ll='ls -lisa'
alias lr='ls -hartl'

if [[ "$OSTYPE" == "darwin"* ]]; then 
	alias sfiles='defaults write com.apple.finder AppleShowAllFiles YES'
	alias hfiles='defaults write com.apple.finder AppleShowAllFiles NO'
fi

# Curl with [O] filename same as resource in the URL, [L]ocation redirects
alias get='curl -OL'

# Grep case insensitive
alias g='grep -i'

# Kubernetes
alias k='kubectl'

# Maven CLI aliases
alias mvngen='mvn archetype:generate'

# Fixes pyenv playing nice with brew
alias brew='env PATH=${PATH//$(pyenv root)\/shims:/} brew'

# Browser-sync (live server emulator for js)
alias serve='browser-sync start -s -f . --no-notify --host $LOCAL_IP --port 9000'

# TODO Create own git-shortcuts one
# [ -f ~/development/work/toolbox/etc/git-shortcuts ] && source ~/development/work/toolbox/etc/git-shortcuts 

