# User specific aliases
alias home='cd ~' 
alias notes='vim ~/Documents/notes/notes.md'

if [ -n "$ZSH_VERSION" ]; then
	alias reload='source ~/.zshrc'
elif [ -n "$BASH_VERSION" ]; then
	alias reload='source ~/.bash_profile'
fi

# Editor
alias vi='nvim'
alias vim='nvim'

# Git
alias gup='git pull --rebase'
alias gapa='git add --patch'
alias gpf='git push --force-with-lease'

# Command line oldies
alias ll='ls -lisa'
alias lr='ls -hartl'

if [[ "$OSTYPE" == "darwin"* ]]; then 
	alias sfiles='defaults write com.apple.finder AppleShowAllFiles YES'
	alias hfiles='defaults write com.apple.finder AppleShowAllFiles NO'
fi

# Curl with [O] filename same as resource in the URL, [L]ocation redirects
alias get='curl -OL'

# Kubernetes
alias k='kubectl'
alias kg='kubectl get'                                                          
alias kd='kubectl describe'                                                     
alias kr='kubectl delete'                                                       
alias kl='kubectl logs'                                                         
alias ke='kubectl exec -it'                                                     
alias kt='kubectl top'
alias load-minikube='cp ~/.kube/minikube-config ~/.kube/config'
alias load-mbrkube='cp ~/.kube/mbr-config ~/.kube/config'
alias load-awskube='cp ~/.kube/stroeer-labs-config ~/.kube/config'

# AWS
alias dsp-aws-activate='source ~/development/work/terraform/bin/activate'

# Fixes pyenv playing nice with brew
alias brew='env PATH=${PATH//$(pyenv root)\/shims:/} brew'

# Browser-sync (live server emulator for js)
alias serve='browser-sync start -s -f . --no-notify --host $LOCAL_IP --port 9000'

# MBR
alias reload-creatives='kubectl get pods -l app.kubernetes.io/name=joker -o name | xargs -I% kubectl exec % -- joker-shell-execute reload-creatives-from-quarantined-campaigns'

alias puppet-repo='cd ~/development/puppet'
alias bidder='cd ~/development/bidder'
alias broker='cd ~/development/broker'

# Calendar tool
alias jan='cal -m 01'
alias feb='cal -m 02'
alias mar='cal -m 03'
alias apr='cal -m 04'
alias may='cal -m 05'
alias jun='cal -m 06'
alias jul='cal -m 07'
alias aug='cal -m 08'
alias sep='cal -m 09'
alias oct='cal -m 10'
alias nov='cal -m 11'
alias dec='cal -m 12'
