# Variables

export MAVEN_OPTS="-Xmx1024m"
export LC_ALL="en_US.UTF-8"
# export LANG="en_US.UTF-8"

# Useful paths

# export JAVA_HOME="$(/usr/libexec/java_home)"
# if [ -d "$JAVA_HOME/bin" ] ; then
# 	export PATH="$PATH:$JAVA_HOME/bin"
# fi


export GNU_GETOPT="/usr/local/opt/gnu-getopt"
if [ -d "$GNU_GETOPT/bin" ] ; then
	export PATH="$PATH:$GNU_GETOPT/bin"
fi

export JENV="$HOME/.jenv"
if [ -d "$JENV" ] ; then
	export PATH="$PATH:$JENV/bin"
	if which jenv > /dev/null; then 
		eval "$(jenv init -)";
	fi
fi

export M2_HOME="/usr/local/Cellar/maven/3.6.1/libexec"
if [ -d "$M2_HOME/bin" ] ; then
	export PATH="$M2_HOME/bin:$PATH"
fi

export MBR_TOOLBOX="$HOME/development/work/toolbox"
if [ -d "$MBR_TOOLBOX/bin" ] ; then
	export PATH="$MBR_TOOLBOX/bin:$PATH"
fi

export MBR_MANAGEMENT="$HOME/development/work/management"
if [ -d "$MBR_MANAGEMENT/bin" ] ; then
	export PATH="$MBR_MANAGEMENT/bin:$PATH"
fi

export CURL="/usr/local/opt/curl"
if [ -d "$CURL/bin" ] ; then
	export PATH="$CURL/bin:$PATH"
fi
