[user]
	name = Denis Pozo

[includeIf "gitdir:~/development/work/"]
	path = .gitconfig-work

[includeIf "gitdir:~/development/playground/"]
	path = .gitconfig-perso
	
[includeIf "gitdir:~/bootstraping"]
	path = .gitconfig-perso

[alias]
	i = init
	a = add
	c = commit -am
	co = checkout
	b = branch
	s = status
	ra = remote
	po = push
	unstage = reset HEAD --
	last = log -1 HEAD
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	mylog = log --pretty=format:'%h %s [%an]' --graph
	list = config --list
	ra = remote
	po = push

[core]
    editor = nvim
	excludesfile = /Users/denispozo/.gitignore_global

[color]
    ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
